/* 기본 스타일 모듈 */
@import "tailwindcss/base";
/* 컴포넌트 스타일 모듈 */
@import "tailwindcss/components";
/* 유틸리티 스타일 모듈 */
@import "tailwindcss/utilities";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .main {
    height: calc(100vh - 119.41px);
  }
}
